header {
  position: fixed;
  top: 0;
  height: 11.9rem;
  width: 100%;
  background-color: $brand-purple;
  display: flex;
  justify-content: center;
  z-index: 100;
  .container {
    @include flex(row, center, space-between);
  }
  align-content: center;
  nav ul {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      margin-left: 5.6rem;

      a {
        display: flex;
        align-items: center;

        span {
          font-size: 1.6rem;
          color: $white;
          font-weight: bold;
          line-height: 1.9rem;
        }

        img {
          width: 100%;
          max-width: 1.8rem;
          margin-right: 1.4rem;
        }
      }
    }
  }

  @include responsive(600px) {
    .container {
      justify-content: center;
      justify-items: start;
      nav {
        display: none;
      }
    }
  }

  @include responsive(480px) {
    height: 8rem;
    .logo {
      img {
        max-width: 14rem;
      }
    }
  }
}
